
<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li><a href="#">Actualités</a></li>
      <li><a href="#">Ateliers</a></li>
      <li><a href="#">Historique</a></li>
      <li><a href="#">Utilisateurs</a></li>
      <li><a href="#">Créer un atelier</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a class="active" href="#">Tableau de bord</a></li>
    </ul>
  </div>
</nav>
