<nav class="navbar" aria-label="Menu principal">
  <a href="#" aria-label="Actualités">Actualités</a>
  <a href="#" aria-label="Ateliers">Ateliers</a>
  <a href="#" aria-label="Historique">Historique</a>
  <a href="#" aria-label="Utilisateurs">Utilisateurs</a>
  <a href="#" aria-label="Créer un atelier">Créer un atelier</a>
  <a href="#" aria-label="Articles">Articles</a>
  <a href ="#" aria-label ="erwan">erwan </a>
  <a class="active" href="#" aria-current="page" aria-label="Newsletter (page actuelle)">Tableau de bord</a>
  <a href ="/adminUserGestion.html" aria-label="Gestion utilisateurs">Utilisateurs</a>
</nav