<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/adminUserGestion.css"/>
    <link rel="icon" href="/images/Logo1.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/headerNav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav-bar') %>
    <div class="enTeteUsers">
        <div class="label">Nom :</div>
        <div class="label">Prénom :</div>
        <div class="label">E-mail :</div>
        <div class="label">Rôle :</div>
        <div class="ensembleRecherche">
            <input type="text" id="recherche" placeholder="Rechercher...">
            <img class="loupe" src="/images/loupe.png" alt="Image d'une loupe">
        </div>
    </div>
    <div class="listeUsers">
        <div class="rangeeUser">
            <div class="dataUser">Gae</div>
            <div class="dataUser">Tan</div>
            <div class="dataUser">blabla@gmail.com</div>
            <div class="dataUser">Membre</div>
            <button class="boutonRole">Changer le rôle</button>
            <button class="boutonDesactiver">Desactiver</button>
        </div>   
        <div class="rangeeUser">
            <div class="dataUser">Gae</div>
            <div class="dataUser">Tan</div>
            <div class="dataUser">blabla@gmail.com</div>
            <div class="dataUser">Membre</div>
            <button class="boutonRole">Changer le rôle</button>
            <button class="boutonDesactiver">Desactiver</button>
        </div>   
        <div class="rangeeUser">
            <div class="dataUser">Gae</div>
            <div class="dataUser">Tan</div>
            <div class="dataUser">blabla@gmail.com</div>
            <div class="dataUser">Membre</div>
            <button class="boutonRole">Changer le rôle</button>
            <button class="boutonDesactiver">Desactiver</button>
        </div>   
        <div class="rangeeUser">
            <div class="dataUser">Gae</div>
            <div class="dataUser">Tan</div>
            <div class="dataUser">blabla@gmail.com</div>
            <div class="dataUser">Membre</div>
            <button class="boutonRole">Changer le rôle</button>
            <button class="boutonDesactiver">Desactiver</button>
        </div>   
    </div>
    <%- include('partials/footer') %>
    <script src="/javascript/accessibility.js"></script>
    <script src="/javascript/adminUserGestion.js"></script>
</body>
</html>