<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>

  <link rel="stylesheet" href="css/creeAtelier.css" />
  <link rel="stylesheet" href="/css/headerNav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="icon" href="images/Logo1.png">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
 
</head>
<body>
  
  <%- include('partials/header') %>
  <%- include('partials/nav-bar') %>

  <main>
    <section class="BlocT1">
      <form class="Bloct1" action="#" method="post">
        <h2>Nouvel Atelier</h2>

        <label for="titre">Titre de l'atelier :</label>
        <input type="text" id="titre" name="titre" required>

        <label for="description">Description :</label>
        <textarea id="description" name="description" rows="4" required></textarea>

        <label for="date">Date :</label>
        <input type="date" id="date" name="date" required>

        <label for="heure">Heure :</label>
        <input type="time" id="heure" name="heure" required>

        <label for="lieu">Lieu :</label>
        <input type="text" id="lieu" name="lieu" required>

        <button type="submit">Créer l'atelier</button>
      </form>
    </section>
  </main>

  <%- include('partials/footer') %>
  <script src="/javascript/accessibility.js" defer></script>
</body>
</html>