
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Tableau de bord</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/styleNewLetterDeroulant.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   <ul>
            <li style="margin:1em 0;"><a href="/newsletter-page" class="dashboard-link">Envoi d'une newsletter</a></li>
            <li style="margin:1em 0;"><a href="/admin-article" class="dashboard-link">Publication d'article</a></li>
            <li style="margin:1em 0;"><a href="/adminUserGestion" class="dashboard-link">Gestion des utilisateurs</a></li>
            <li style="margin:1em 0;"><a href="/adminAtelierGestion" class="dashboard-link">Gestion des ateliers</a></li>
       
</body>
</html>